*{
    margin: 0;
    padding: 0;
  
}
.navbar{
    background-color: rgb(18, 37, 19);
    margin: 10px 20px;
    border-radius: 20px;
    padding: 10px 15px;;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 5px;
}

.navbar li a{
    padding: 6px 20px;
    text-decoration: none;
    color: #fff;
}
.search{
    float: right;
    padding: 5px 30px;
    
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 15px;
    width: 130px;
    font-size: 15px
}